.content {
    height: 20vh;
    margin:0;
    background-image: linear-gradient(to right bottom, #E1FAEE, #5AE4A7);
    // clip-path: polygon(0% 0%, 75% 0%, 100% 2vh, 100% 100%, 0% 100%);
    // background-image: linear-gradient(to right bottom, #E1FAEE, black);
}



@media (min-width: 1920px) {
    .content {
        height: 40vh;
    }
}