<div *ngIf="loading" class="loader-overlay">
    <div class="loader"></div>
  </div>

<section class="content">
    <div class="title-container">
        <h1 class="title">Articles</h1>
        <p class="subtitle">Discover fresh perspectives in our curated collection of articles. Dive into knowledge and innovation.</p>
    </div>



    <section class="articles-list">
        <ng-container *ngFor="let post of posts ">
            <article-card [post]="post"></article-card>
        </ng-container>
    </section>
</section>