.card {
    user-select: none;
    width: 17rem;
    perspective:150rem;
    -moz-perspective: 150rem;

    


    transition: all 1s ease;


    position: relative;

    &:hover {
        cursor: pointer;
    }
    
    
    .card__side {
        transition: all .8s;
        display: flex;
        flex-direction: column;
        align-items: center;
        backface-visibility: hidden;
        height: 19rem;
        border-radius:10px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        .title {
            text-align: center;
            padding: 2rem;
        }

        .features-list {
            &__item {
                margin-block: .4rem;
                list-style-type: none;
                font-size: .9rem;
            }
        }
    }

    .front-content {
        background-image:  linear-gradient(to bottom right, #5DE2AA, #E1FAEE);

    }

    .back-content {
        background-color: black;
        color: black;
        justify-content: center;
        // border: 1px solid #56E5AB;
        
        transform: rotateY(180deg);

        .pricing-title {
            padding:.5rem;
        }
    }

    //
    .free-plan {
        background-image: linear-gradient(135deg, #F8F7F4 0%, #E1FAEE 100%);
    }

    .standard-plan {
        background-image: linear-gradient(135deg, #E1FAEE 0%, #56E5AB 100%)

    }

    .premium-plan {
        background-image: linear-gradient(135deg, #56E5AB 0%, #34C89A 100%);
    }

    .free-price-bg {
        // background-color: #F8F7F4;
        background-color: black;
        color: white;
    }

    .standard-price-bg {
        // background-color: #A8E5C2;
        background-color: black;
        color: white;
    }

    .premium-price-bg {
        // background-color: #56E5AB;
        background-color: black;
        color: white;
    }


    &:hover .front-content {
        transform: rotateY(180deg);
    }

    &:hover .back-content {
        transform: rotateY(0deg);
    }


}