* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Mobile First


.main-section {
    animation: fadeIn 2s ease-in-out forwards;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-inline:2rem;
    
    .landing-text {
        padding-inline: 1rem;

    }
    .landing-img-container {
        width: 60%;
    }
}


.landing-img-container {
    height: 20rem;
    display: none;
    
    .landing-img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        padding-left:4rem;
    }
}

//keyframes
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

//Tablet
@media (min-width: 768px) {
    .landing-img-container {
        display: block;
    }
    .landing-text {
        max-width: 40%;
        margin-top: 3rem;
    }
}

//Dell Notebook
@media (min-width: 1000px) {
    .content {
        width: 90%;
        margin: auto;
    }

}

