

<section class="content">
    <ul class="items-container" [class.items-container-mobile]="isMobile">
        <li class="item" (click)="redirectTo('home')" ><a  class="item-link"><span class="title">Home</span></a></li>
        <li class="item" (click)="redirectTo('articles')" ><a  class="item-link"><span class="title">Articles</span></a></li>
        <li class="item"><a  class="item-link" routerLink=""><span class="title">About</span></a></li>
        <li class="item" (click)="redirectTo('pricing')" ><a  class="item-link" routerLink=""><span class="title">Pricing</span></a></li>
        <li class="item" [class.last-nav-option]="!isMobile"><a href="" ><span class="title">Sign In</span></a></li>
    </ul>
</section>