

<section class="content">
    <ul class="items-container" [class.items-container-mobile]="isMobile">
        <li class="item"><a routerLink=""><span class="title">Home</span></a></li>
        <li class="item"><a routerLink="/articles"><span class="title">Articles</span></a></li>
        <li class="item"><a routerLink=""><span class="title">About Us</span></a></li>
        <li class="item"><a routerLink=""><span class="title">Contact</span></a></li>
        <li class="item" [class.last-nav-option]="!isMobile"><a href="" ><span class="title">Sign In</span></a></li>
    </ul>
</section>